button{
    background-color:transparent;
       border: 0px solid;
    }
    .vasos{
    
        float: center;
        }

.frijoles{
    
    float: right left;
}

.siguiente{
    float: right;
}